.section3{
    display: grid;
    align-content: center;
    width: 100vw;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 50px;
    align-items: center;

}.section3-hedding{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 03rem;
    font-weight: 100;
    display: flex;
    justify-content: start;
}
.articles{
    margin-top: 20px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-around;
    align-content: center;
}
.article-card{
    /* flex: 1 1 auto; */
width: 300px;
display: grid;
align-items: center;
justify-content: center;
}
/* @media (max-width:600px) {
    .article-card{
       
    max-width: 200px;
    display: grid;
    }

} */