.section2-main{
background-color: var(--LightGrayishBlue);
width: 100vw;
overflow: hidden;
display: grid;
padding-bottom: 50px;

align-content: center;
justify-content: space-around;

}
.headding{
    margin-top: 20px;

max-width: 350px;
}
.boxes{
    margin-top: 20px;
display: flex;
gap: 100px;
flex-wrap: wrap;
/* align-items: center; */
justify-content: space-around;
}
.section2-card{
    display: grid;
    /* height: 200px; */
   
}

@media (max-width:700px) {
    .headding{
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        max-width: 95%;
    }
}