.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--White);
    height: 50px;

}
.nav-logo img{
    height: 15px;
}
.nav-menu-item ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu-item ul li{
    list-style: none;
    margin-right: 15px;
}