.intro-container{
    display: flex;
    
    width: 100%;
    height:100vh;
   
    overflow: hidden;
}
.intro-left{
    background-image: url('../assets/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed !important;
    width: 100%;
    height: 90vh;
    position: relative;
    background-position-x: 40rem;
    background-position-y: -19rem;
    min-width: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro-left h2{
font-size: 32px;
font-weight: 500;
}
.intro-left small{
}
img{
    
margin-top: 0px;
right: -150px;
height: 1180px;


}
.intro-content{
    max-width: 650px;
    display: grid;
}